html {
  background-color: #333;
  display: flex;
  justify-content: center;
}

body {
  background: #fff;
  width: 2480px;
  height: 3508px;
  font-size: 72px;
  margin: 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body > * {
  margin: 1rem;
  background-color: #eee;
  flex-basis: 20%;
}

.identity {
  display: grid;
  grid-template-areas: 'interests name    photo'
                       'interests contact photo';
  grid-gap: 1em 0.5em;
  grid-template-columns: min-content auto min-content;

  &__name {
    grid-area: name;

    display: flex;
    align-items: center;

    font-size: 2.5em;
  }

  &__interests {
    grid-area: interests;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 6em;
    margin: 0;
    border: 1rem solid black;
  }

  &__contact-box {
    grid-area: contact;

    display: grid;
    grid-gap: 0.4em 0.8em;
    grid-template-columns: max-content auto;
  }

  &__contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 0.8em;
  }

  &__photo {
    grid-area: photo;
    object-fit: cover;
    width: 35rem;
    height: 35rem;
  }
}

.technologies {
  display: flex;
}

.technologies > * {
  background-color: #fff;
  flex: 1;
  margin: 0.3em;
}

