.education {
  &__place {
    width: 100%;
    display: flex;
  }

  &__diploma {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__picture {
    margin: 0.3em;
    width: 1.8em;
    height: 1.8em;
  }
}
