$experience-color: #fbf4e7;

.experiences {
  &__experience {
    display: flex;
    flex-direction: column;
  }
}

.experience {
  background-color: #{$experience-color};

  &__info {
    padding: 0.5em;
    padding-bottom: 0em;

    display: grid;
    grid-template-areas: "picture name        technologies"
                         "picture description description";
    margin: 0.5em;
    margin-bottom: 1em;
  }

  &__picture {
    --size: 4em;

    grid-area: picture;

    margin: auto;
    height: var(--size);
  }

  &__name {
    padding: 0.4em 0;
    font-size: 1.5em;
    grid-area: name;

    display: flex;
    align-items: center;
  }

  &__technologies {
    grid-area: technologies;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__description {
    font-size: 0.9em;
    grid-area: description;
  }

  &__technology-icon {
    font-size: 0;
  }
}
