.identity {
  display: grid;
  grid-template-areas: 'interests name    photo'
                       'interests contact photo';
  grid-template-columns: min-content auto min-content;

  &__name {
    grid-area: name;

    display: flex;
    align-items: center;

    font-size: 2.5em;
  }

  &__interests {
    grid-area: interests;

    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: 0.9em;
    color: #333;

    padding: 0.6em;
    padding-bottom: 0;
    width: 7em;
    margin-right: 1em;
    border: 0.1em dotted black;
  }

  &__interest-box {
    margin-top: 0.2em;
    padding-left: 1em;
  }

  &__contact-box {
    grid-area: contact;

    display: grid;
    grid-template-columns: max-content auto;
    align-content: flex-start;
  }

  &__contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.2em 1em;

    font-size: 0.9em;
  }

  &__photo {
    --size: 8em;
    grid-area: photo;
    object-fit: cover;
    width: var(--size);
    height: var(--size);
  }
}
