@mixin transition($size, $to-color) {
  --size: #{$size};

  display: block;
  position: relative;

  // Adapted from https://stackoverflow.com/a/42359157/4154690
  &:before {
    position: absolute;
    left: 0;
    top: 100%;
    width: 50%;
    height: var(--size);
    content: " ";
    background: linear-gradient(to left bottom, #{$to-color} 50%, rgba(0, 0, 0, 0) 50%);
  }

  &:after {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 50%;
    height: var(--size);
    content: " ";
    background: linear-gradient(to right bottom, #{$to-color} 50%, rgba(0, 0, 0, 0) 50%);
  }
}

@mixin alternating-with-transition($transition-size, $first-color, $second-color) {
  &:nth-of-type(2n) {
    background-color: #{$first-color};
    padding-bottom: calc(#{$transition-size}/4);
  }

  &:nth-of-type(2n+1) {
    padding-top: #{$transition-size};
    background-color: #{$second-color};
  }


  &__transition {
    &:nth-of-type(2n) {
      @include transition($size: $transition-size, $to-color: $second-color);
    }

    &:nth-of-type(2n+1) {
      @include transition($size: $transition-size, $to-color: $first-color);
    }
  }
}

