@import 'identity';
@import 'technologies';
@import 'education';
@import 'experiences';
@import 'job';
@import 'projects';

@import 'print';

// In-browser displaying;
@media not print {
  html {
    background-color: #333;
    display: flex;
    justify-content: center;
  }

  body {
    background: #fff;
    width: 2480px;
    min-height: 3508px;
    font-size: 64px;
    margin: 4rem;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.disclaimer {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}
