.education {
  &__place {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__diploma {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5em;
  }

  &__picture {
    --size: 1.5em;
    margin: 0.2em;
    width: var(--size);
    height: var(--size);
    padding: 0 0.5em;
  }
}
