@import 'transition-mixin';

.job {
  padding-bottom: 1em;

  @include alternating-with-transition($transition-size: 1em,
                                       $first-color: $experience-color,
                                       $second-color: #E5DCCA);

  display: grid;
  grid-template-areas: "title            title"
                      "period           period"
                      "responsibilities results";
  grid-template-columns: 50% 50%;

  &__title {
    grid-area: title;

    width: 100%;
    text-align: center;
    padding: 0.5em 0 0 0;

    font-size: 1.2em;
    font-weight: bold;

    &--no-transition {
      padding: 0;
    }
  }

  &__period {
    grid-area: period;

    width: 100%;
    text-align: center;
    padding: 0 0 0.7em 0;

    font-size: 0.8em;
  }

  @mixin job-section {
    display: flex;
    flex-direction: column;

    padding: 0 2em;
    font-size: 0.8em;
  }

  &__responsibilities {
    grid-area: responsibilities;
    @include job-section;
  }

  &__results {
    grid-area: results;
    @include job-section;
  }

  &__fact {
    margin-bottom: 0.3em;
  }
}
