.technologies {
  display: flex;

  &__technology {
    flex: 1;

    margin: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__technology-image {
    height: 3em;
    object-fit: contain;
    width: 60%;
  }

  &__technology-name {
    text-align: center;
    margin: 0.2em 0;
  }
}
